/*
  Colours:
    white:  #FFFFFF
    black:  #222222
    yellow: #FFCC02
    red:    #EE0000
*/

body {
  background: #ffffff;
  font-family: "Open Sans", sans-serif;
  height: 100%;
}
.wrapper {
  width: 800px;
  margin: 30px auto;
  color: #222222;
  text-align: center;
}
.laps {
  width: 800px;
  margin: 30px auto;
  color: #ffffff;
  text-align: center;
  font-size: 1.4em;
}
.lap {
  width: 800px;
  /* margin: 3px auto; */
}
/* Probably you can remove next rule, because it's being overwritten by js */
/* .hiddenhoursLaps,
.hoursDotsLaps {
  color: #ffffff;
} */
h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 2.6em;
}
#minutes,
#seconds {
  color: #222222;
  font-size: 2em;
}
#hours {
  color: #ffffff;
  font-size: 2em;
}
#tens {
  color: #ffffff;
  font-size: 1.35em;
}
.hidden {
  color: #ffffff;
}
#seconds {
  color: #222222;
}
.dots {
  font-size: 1.4em;
}
.lastDots {
  font-size: 0.9em;
}

button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 40px;
  -khtml-border-radius: 5px;
  background: #ffdb4d;
  color: #222222;
  border: solid 3px #ffdb4d;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2em;
  padding: 12px 10px;
  width: 150px;
  margin: 10px;
  outline: none;
  -webkit-transition: all 0.4s ease-in-out;
}
#button-lap-reset {
  background: #ffffff;
  border: solid 3px #ebebeb;
  color: #ebebeb;
}

/* button:hover {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: #222222;
  border: solid 1px #fff;
  color: #fff;
} */

/* Added some padding-right, because tens are smaller then other numbers */
p {
  padding-right: 1.3em;
}
